@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@import "../assets/fonts/DMSans&Rubik.css";
:root {
  --bg-body: linear-gradient(to right, rgb(9, 1, 19), rgb(25, 6, 81));
  --text-color-white: #fff;
  --text-color: #f9fafb;
  --button-color: linear-gradient(90deg, #2563eb 0.36%, #d946ef 201.02%);
  --bg-color-company: linear-gradient(90deg, #2563eb 0.11%, #d946ef 58.65%);
  --text-shadow-company: 0px 4px 4px rgba(0, 0, 0, 0.07);
  --text-color-company: #e5e7eb;
  --bg-color-blocks: linear-gradient(
    268deg,
    rgba(254, 254, 255, 0.03) -11.04%,
    rgba(255, 255, 255, 0.02) 104.89%
  );
  --border-color: rgba(255, 255, 255, 0.08);
  --bg-color-subscribe: linear-gradient(
    180deg,
    rgba(254, 254, 255, 0.01) 0%,
    rgba(255, 255, 255, 0.02) 100%
  );
  --bg-color-subscribe-form: linear-gradient(
    180deg,
    rgba(254, 254, 255, 0.03) 0%,
    rgba(255, 255, 255, 0.05) 100%
  );
  --text-color-footer: rgba(255, 255, 255, 0.8);
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  background-image: var(--bg-body);
}

.logo ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--text-color-white);
  font-family: Rubik;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.logo ul li:first-child {
  -webkit-animation: rotate 2s linear;
          animation: rotate 2s linear;
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.logo ul li:last-child {
  padding-left: 10px;
}

.menuList ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  color: var(--text-color);
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.menuList ul li {
  padding: 12px 24px;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.menuList ul li:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  cursor: pointer;
}
.menuList ul li:last-child {
  border-radius: 5px;
  background: var(--button-color);
  padding: 12px 24px;
}

.headerNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 48px 135px;
}

.aboutInfo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0px 25px 0 132px;
}
.aboutInfo .leftInfo {
  padding-top: 202px;
  -webkit-animation: slideFromLeft 2s ease-in-out;
          animation: slideFromLeft 2s ease-in-out;
  position: relative;
}
.aboutInfo .leftInfo .aboutInfoBig {
  text-shadow: var(--text-shadow-company);
  font-family: DM Sans;
  font-size: 58px;
  font-style: normal;
  font-weight: 700;
  line-height: 84px; /* 144.828% */
  letter-spacing: 1.16px;
  background: var(--bg-color-company);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.aboutInfo .leftInfo .aboutInfoSmall {
  padding-top: 30px;
  color: var(--text-color-company);
  text-shadow: var(--text-shadow-company);
  font-family: DM Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 200% */
}
.aboutInfo .leftInfo .joinInfo ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
}
.aboutInfo .leftInfo .joinInfo ul li {
  color: var(--text-color);
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.aboutInfo .leftInfo .joinInfo ul li:first-child {
  border-radius: 6px;
  background: var(--button-color);
  padding: 20px 40px;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.aboutInfo .leftInfo .joinInfo ul li:first-child:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  cursor: pointer;
}
.aboutInfo .leftInfo .joinInfo ul li:last-child a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: var(--text-color-white);
  padding-left: 29px;
}
.aboutInfo .leftInfo .joinInfo ul li:last-child a span {
  padding-left: 10px;
}
@-webkit-keyframes slideFromLeft {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}
@keyframes slideFromLeft {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}
.aboutInfo .imageInfo {
  -webkit-animation: fadeIn 3s ease-in-out, pulse 2s infinite;
          animation: fadeIn 3s ease-in-out, pulse 2s infinite;
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.serviceInfo p:first-child {
  color: var(--text-color-white);
  text-align: center;
  font-family: DM Sans;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 61px 0 30px 0;
}
.serviceInfo p:last-child {
  color: var(--text-color-white);
  text-align: center;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}

.serviceOptions {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px 30px;
  padding: 0 135px;
}
.serviceOptions .servisOptionsItem {
  border-radius: 34px;
  border: 1px solid var(--border-color);
  background: var(--bg-color-blocks);
  -webkit-box-shadow: 0px 22px 18px 0px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 22px 18px 0px rgba(0, 0, 0, 0.05);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 37px 23px 30px 23px;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.serviceOptions .servisOptionsItem .serviceIcon {
  position: relative;
}
.serviceOptions .servisOptionsItem .serviceIcon .overlay_image {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1;
}
.serviceOptions .servisOptionsItem .serviceIcon .overlay_image_2 {
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 1;
}
.serviceOptions .servisOptionsItem .serviceIcon .overlay_image_3 {
  position: absolute;
  top: 16px;
  left: 16px;
  z-index: 1;
}
.serviceOptions .servisOptionsItem .serviceIcon .overlay_image_4 {
  position: absolute;
  top: 18px;
  left: 18px;
  z-index: 1;
}
.serviceOptions .servisOptionsItem .serviceText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.serviceOptions .servisOptionsItem .serviceText p:first-child {
  color: var(--text-color-white);
  font-family: DM Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.serviceOptions .servisOptionsItem .serviceText p:last-child {
  color: var(--text-color-white);
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  padding-top: 17px;
}
.serviceOptions .servisOptionsItem .serviceReadMore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.serviceOptions .servisOptionsItem .serviceReadMore span {
  color: var(--text-color-white);
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}
.serviceOptions .servisOptionsItem .serviceReadMore img {
  padding-left: 10px;
}
.serviceOptions .servisOptionsItem:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.careCustomer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 120px 140px 0 135px;
  gap: 57px 35px;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}
.careCustomer .careCustomerImage {
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.careCustomer .careCustomerImage:hover {
  -webkit-transform: translateZ(-100px);
          transform: translateZ(-100px);
}
.careCustomer .careCustomerText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.careCustomer .careCustomerText .careTextBig {
  color: var(--text-color-white);
  font-family: DM Sans;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.careCustomer .careCustomerText .careTextSmall {
  color: var(--text-color-white);
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  padding-top: 30px;
}

.teamInfo p:first-child {
  color: var(--text-color-white);
  font-family: DM Sans;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  padding: 107px 0 30px 0;
}
.teamInfo p:last-child {
  color: var(--text-color-white);
  text-align: center;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.teamItems {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0 30px;
  padding: 40px 135px;
}
.teamItems .teamItem {
  border-radius: 34px;
  border: 1px solid var(--border-color);
  background: var(--bg-color-blocks);
  -webkit-box-shadow: 0px 22px 18px 0px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 22px 18px 0px rgba(0, 0, 0, 0.05);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 32px 58px;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.teamItems .teamItem ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.teamItems .teamItem ul li {
  padding: 5px 0;
}
.teamItems .teamItem ul li:nth-child(2) {
  color: var(--text-color-white);
  font-family: DM Sans;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: -15px;
  text-align: center;
}
.teamItems .teamItem ul li:nth-child(3) {
  color: var(--text-color-white);
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.48px;
  text-transform: uppercase;
  padding-top: 7px;
  padding-bottom: 9px;
  text-align: center;
}
.teamItems .teamItem ul li:nth-child(4) span {
  padding: 0 5px;
}
.teamItems .teamItem:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.subscribeContainer {
  margin: 120px 135px 0 135px;
  padding: 50px 155px 38px 155px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border-radius: 34px;
  border: 1px solid rgba(255, 255, 255, 0.08);
  background: var(--bg-color-subscribe);
  -webkit-box-shadow: 0px 22px 18px 0px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 22px 18px 0px rgba(0, 0, 0, 0.05);
}
.subscribeContainer .subscribeContainerInfo ul {
  list-style: none;
}
.subscribeContainer .subscribeContainerInfo ul li:first-child {
  color: var(--text-color-white);
  text-align: center;
  font-family: DM Sans;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.subscribeContainer .subscribeContainerInfo ul li:last-child {
  color: var(--text-color-white);
  text-align: center;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 187.5% */
  margin-top: 13px;
  margin-bottom: 29px;
}
.subscribeContainer .subscribeContainerForm {
  border-radius: 70px;
  background: var(--bg-color-subscribe-form);
  -webkit-box-shadow: 10px 24px 54px 0px rgba(0, 0, 0, 0.07);
          box-shadow: 10px 24px 54px 0px rgba(0, 0, 0, 0.07);
  padding: 2px 10px;
}
.subscribeContainer .subscribeContainerForm ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.subscribeContainer .subscribeContainerForm ul li input {
  border: none;
  background: none;
  padding: 25px 0 25px 44px;
  width: 200px;
  color: var(--text-color-white);
  font-family: Rubik;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}
.subscribeContainer .subscribeContainerForm ul li ::-webkit-input-placeholder {
  color: var(--text-color-white);
  opacity: 0.9;
}
.subscribeContainer .subscribeContainerForm ul li ::-moz-placeholder {
  color: var(--text-color-white);
  opacity: 0.9;
}
.subscribeContainer .subscribeContainerForm ul li :-ms-input-placeholder {
  color: var(--text-color-white);
  opacity: 0.9;
}
.subscribeContainer .subscribeContainerForm ul li ::-ms-input-placeholder {
  color: var(--text-color-white);
  opacity: 0.9;
}
.subscribeContainer .subscribeContainerForm ul li ::placeholder {
  color: var(--text-color-white);
  opacity: 0.9;
}
.subscribeContainer .subscribeContainerForm ul li input:focus {
  outline: none;
  border: none;
}
.subscribeContainer .subscribeContainerForm ul li button {
  border: none;
  background: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border-radius: 70px;
  opacity: 0.9;
  background: var(--button-color);
  color: var(--text-color-white);
  text-align: center;
  font-family: Rubik;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 150% */
  padding: 15px 49px;
}
.subscribeContainer .subscribeContainerForm ul li button span {
  padding-left: 8px;
}

.footerContainer {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  margin: 98px 135px 32px 134px;
}
.footerContainer .footerContainerInfo {
  grid-column: 1/3;
  color: var(--text-color-footer);
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 200% */
}
.footerContainer .footerContainerInfo ul {
  list-style: none;
}
.footerContainer .footerContainerInfo ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}
.footerContainer .footerContainerInfo ul li span {
  padding-left: 10px;
}
.footerContainer .footerContainerInfo ul li:first-child {
  color: var(--text-color-white);
  font-family: Rubik;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 20px;
}
.footerContainer .footerContainerService,
.footerContainer .footerContainerCompany,
.footerContainer .footerContainerSupports,
.footerContainer .footerContainerResources {
  color: var(--text-color-footer);
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0.18px;
  justify-self: center;
}
.footerContainer .footerContainerService ul,
.footerContainer .footerContainerCompany ul,
.footerContainer .footerContainerSupports ul,
.footerContainer .footerContainerResources ul {
  list-style: none;
}

.termsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 33px 134px;
}
.termsContainer div:first-child {
  color: var(--text-color-footer);
  font-family: Rubik;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px; /* 100% */
}
.termsContainer .termsContainerOptions ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.termsContainer .termsContainerOptions ul li {
  padding-left: 54px;
  color: var(--text-color-footer);
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px; /* 100% */
}

hr {
  opacity: 0.2;
  background: #969696;
}