.serviceOptions {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px 30px;
  padding: 0 135px;

  .servisOptionsItem {
    border-radius: 34px;
    border: 1px solid var(--border-color);
    background: var(--bg-color-blocks);
    box-shadow: 0px 22px 18px 0px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 37px 23px 30px 23px;
    transition: transform 0.3s;

    .serviceIcon {
        position: relative;

        .overlay_image {
         position: absolute;
         top: 20px;
         left: 20px;
         z-index: 1;
        }

        .overlay_image_2 {
         position: absolute;
         top: 15px;
         left: 15px;
         z-index: 1;  
        }

        .overlay_image_3 {
         position: absolute;
         top: 16px;
         left: 16px;
         z-index: 1;
        }

        .overlay_image_4 {
         position: absolute;
         top: 18px;
         left: 18px;
         z-index: 1;
        }
      }

    .serviceText {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;

     p:first-child {
      color: var(--text-color-white);
      font-family: DM Sans;
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
     }

     p:last-child {
      color: var(--text-color-white);
      font-family: DM Sans;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 26px; /* 162.5% */
      padding-top: 17px;
     }
    }

    .serviceReadMore {
     display: flex;
     align-items: center; 

     span {
      color: var(--text-color-white);
      font-family: DM Sans;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 26px; /* 162.5% */
     }

     img {
      padding-left: 10px;
     }
    }
   }

   .servisOptionsItem:hover {
     transform: scale(1.1);
   }
}

@media screen and (max-width: 1200px) {
  .serviceOptions {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    .servisOptionsItem {
      padding: 25px 20px;

      .serviceText {

        p:first-child {
          font-size: 18px;
        }

        p:last-child {
          font-size: 14px;
        }
      }

      .serviceReadMore {

        span {
          font-size: 14px;
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {

  .serviceOptions {

    .servisOptionsItem {

      .serviceText {

        p:last-child {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 390px) {

  .serviceOptions {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    padding: 0 20px;
    gap: 15px;

    .servisOptionsItem {
      .serviceReadMore {
        margin-top: -20px;
      }
    }
  }
}