.menuList {
    ul {
    display: flex;
    list-style: none;
    color: var(--text-color);
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    li {
     padding: 12px 24px;
     transition: transform 0.3s;

     a {
        text-decoration: none;
        color: var(--text-color);
     }
    }

    li:hover {
     transform: scale(1.3);
     cursor: pointer;
    }

    li:last-child {
     border-radius: 5px;
     background: var(--button-color);
     padding: 12px 24px;
    }
}
}

@media screen and (max-width: 1200px) {
    .menuList {
        ul {
            li {
                padding: 10px 15px;
            }
        }
    }
}

@media screen and (max-width: 991px) {
    .menuList {
        ul {
            li:nth-child(2) {
                display: none;
            }

            li:nth-child(3) {
                display: none;
            }

            li:nth-child(4) {
                display: none;
            }

            li:nth-child(5) {
                display: none;
            }
        }
    }
}


@media screen and (max-width: 390px) {
    .menuList {
        ul {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}