* {
    margin: 0;
    padding: 0;
}

html,
body {
  height: 100%;
}

body {
    background-image: var(--bg-body);
    animation: gradient 10s ease infinite;
	  transform: translate3d(0, 0, 0);
    background-size: 400% 400%;
   }

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}