:root {
    --bg-body: linear-gradient(to right, rgb(9, 1, 19), rgb(25, 6, 81));
    --logo-color: #fff;
    --text-color-menu: #f9fafb;
    --button-color: linear-gradient(90deg, #2563eb 0.36%, #d946ef 201.02%);
}
