:root {
    --bg-body: linear-gradient(90deg, #1b0802, #380518, #052d3c, #011813);
    --text-color-white: #fff;
    --text-color: #f9fafb;
    --button-color: linear-gradient(90deg, #2563eb 0.36%, #d946ef 201.02%);
    --bg-color-company: linear-gradient(90deg, #2563eb 0.11%, #d946ef 58.65%);
    --text-shadow-company: 0px 4px 4px rgba(0, 0, 0, 0.07);
    --text-color-company: #e5e7eb;
    --bg-color-blocks: linear-gradient(
    268deg,
    rgba(254, 254, 255, 0.03) -11.04%,
    rgba(255, 255, 255, 0.02) 104.89%
  );
    --border-color: rgba(255, 255, 255, 0.08);
    --bg-color-subscribe: linear-gradient(
      180deg,
      rgba(254, 254, 255, 0.01) 0%,
      rgba(255, 255, 255, 0.02) 100%
    );
    --bg-color-subscribe-form: linear-gradient(
    180deg,
    rgba(254, 254, 255, 0.03) 0%,
    rgba(255, 255, 255, 0.05) 100%
  );
    --text-color-footer: rgba(255, 255, 255, 0.8);
}
